h1 {
    font-family: Arial;
    margin: 10px;
    color: whitesmoke;
}

.topBar {
    background-color: rgb(0, 48, 66);
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(53, 53, 53);
    border-radius: 5px;
}


body p {
    font-family: Arial;
    margin: 10px;
}

blockquote {
    font-family: 'Times New Roman';
    margin-right: 200px;
}

#demoCanvas {
    border: 2px solid black;
}

input {
    display: inline;
    padding: 2px 2px;
    margin: 5px 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 235, 236);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(113, 228, 243));
}

button {
    background-color: rgb(113, 228, 243);
    border: rgb(46, 185, 228) solid 2px;
    color: black;
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 3px 1px rgb(53, 53, 53);
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(97, 196, 209);
    border: rgb(42, 169, 207) solid 2px;
  }