h1 {
    font-family: Arial;
    margin: 10px;
}

body p {
    font-family: Arial;
    margin: 10px;
}

blockquote {
    font-family: 'Times New Roman';
    margin-right: 200px;
}

#demoCanvas {
    border: 2px solid black;
}

input {
    display: inline;
}